main {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}
.books-available-filters
{
    display: flex;
    flex-direction: column;
}
.bookListSelectors
{
    display: flex;
    gap: 5%;
}

.bookListSelectors > h4
{
    cursor: pointer;
    transition: 0.2s;
}

.bookListSelectors > h4:hover
{
    color: grey;
}

.books-available {
    border-radius: 1%;
    padding: 2%;
    margin: 2%;
}

.books-available-filters {
    display: flex;
    gap: 2%;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 500px;
    height: 600px;
    margin-top: 2%;
    padding: 2%;
}

.books-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.books-list li {
    list-style: none;
}

.book-item  {
    padding: 4%;
}

.book-item img {
    width: 100px;
    height: 120px;
}
.books-list-book-item-details {
    color: gray;
    font-size: 12px;
    width: 100px; 
    height: auto; 
    padding: 5px 0; 
    font-family: arial;
}

.booksSelecteds
{
    border-radius: 1%;
    padding: 2%;
    margin: 2%;
    height: auto;
}
.booksSelecteds-books-list
{
    width: 60%;
    height: 40%;
}
.booksSelecteds-books-book-remover {
    cursor: pointer;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
    text-align: center;
}

.bookNotAvailable {
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
}
.subtitle
{
    color: grey;
    font-size: 14px;
}
.can-Select:hover
{
    cursor: pointer;
}